# **Pandas**

## **Creating Data**

### **DataFrame**

In [2]:
import pandas as pd

pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']}, index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

### **Series**

In [5]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

## **Reading Data**

In [7]:
Iris = pd.read_csv("Iris.csv", index_col=0)

In [8]:
Iris.shape

(150, 5)

In [9]:
Iris.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

## **Acessors**

In [10]:
Iris.SepalLengthCm

Id
1      5.1
2      4.9
3      4.7
4      4.6
5      5.0
      ...
146    6.7
147    6.3
148    6.5
149    6.2
150    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [11]:
Iris['SepalLengthCm'][1]

5.1

## **Indexing**

In [12]:
Iris.iloc[1]

SepalLengthCm            4.9
SepalWidthCm             3.0
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 2, dtype: object

In [13]:
Iris.iloc[:,:3]

     SepalLengthCm  SepalWidthCm  PetalLengthCm
Id
1              5.1           3.5            1.4
2              4.9           3.0            1.4
3              4.7           3.2            1.3
4              4.6           3.1            1.5
5              5.0           3.6            1.4
..             ...           ...            ...
146            6.7           3.0            5.2
147            6.3           2.5            5.0
148            6.5           3.0            5.2
149            6.2           3.4            5.4
150            5.9           3.0            5.1

[150 rows x 3 columns]

In [14]:
Iris.loc[1, 'SepalLengthCm']

5.1

In [15]:
sample_reviews = Iris.iloc[[1, 2, 3, 5, 8], :]

In [16]:
sample_reviews = Iris[['SepalLengthCm','SepalWidthCm']].iloc[[1, 2, 3, 5, 8]]

### **Choosing between loc and iloc**

loc can index any stdlib type: strings, integers, etc. iloc can only index integers.

### **Manipulating the index**

```Iris.set_index("title")```

### **Conditional Selection**

In [17]:
Iris.SepalLengthCm > 5

Id
1       True
2      False
3      False
4      False
5      False
       ...
146     True
147     True
148     True
149     True
150     True
Name: SepalLengthCm, Length: 150, dtype: bool

To return the data of the rows that satisfy the condition:

In [18]:
## AND
Iris.loc[(Iris.SepalLengthCm > 5) & Iris.Species.isin(['Iris-setosa', 'Iris-virginica'])]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
6              5.4           3.9            1.7           0.4     Iris-setosa
11             5.4           3.7            1.5           0.2     Iris-setosa
15             5.8           4.0            1.2           0.2     Iris-setosa
16             5.7           4.4            1.5           0.4     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[71 rows x 5 columns]

In [19]:
## OR
Iris.loc[(Iris.SepalLengthCm > 5) | (Iris.SepalWidthCm < 3)]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
6              5.4           3.9            1.7           0.4     Iris-setosa
9              4.4           2.9            1.4           0.2     Iris-setosa
11             5.4           3.7            1.5           0.2     Iris-setosa
15             5.8           4.0            1.2           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[124 rows x 5 columns]

## **Assigning Data**

In [20]:
Iris['PetalLengthCm'] = 3

## **Summary Functions and Maps**

### **Summary Functions**

In [21]:
Iris.SepalLengthCm.describe()

count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: SepalLengthCm, dtype: float64

Para colunas não-numéricas, o método describe() retorna:

* Count
* Unique
* Top
* Freq

In [22]:
Iris.SepalLengthCm.mean()

5.843333333333334

In [23]:
Iris.SepalLengthCm.unique()

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

In [24]:
Iris.SepalLengthCm.value_counts()

SepalLengthCm
5.0    10
5.1     9
6.3     9
5.7     8
6.7     8
5.8     7
5.5     7
6.4     7
4.9     6
5.4     6
6.1     6
6.0     6
5.6     6
4.8     5
6.5     5
6.2     4
7.7     4
6.9     4
4.6     4
5.2     4
5.9     3
4.4     3
7.2     3
6.8     3
6.6     2
4.7     2
7.6     1
7.4     1
7.3     1
7.0     1
7.1     1
5.3     1
4.3     1
4.5     1
7.9     1
Name: count, dtype: int64

### **Maps**

```maps()``` deve ser usada em Series.

In [25]:
Iris.SepalLengthCm.map(lambda x: x - Iris.SepalLengthCm.mean())

Id
1     -0.743333
2     -0.943333
3     -1.143333
4     -1.243333
5     -0.843333
         ...
146    0.856667
147    0.456667
148    0.656667
149    0.356667
150    0.056667
Name: SepalLengthCm, Length: 150, dtype: float64

```apply()``` deve ser usada em DataFrames.

## **Grouping and Sorting**

### **Groupwise**

````groupby()````

In [26]:
Iris.groupby('SepalLengthCm').SepalWidthCm.min()

SepalLengthCm
4.3    3.0
4.4    2.9
4.5    2.3
4.6    3.1
4.7    3.2
4.8    3.0
4.9    2.4
5.0    2.0
5.1    2.5
5.2    2.7
5.3    3.7
5.4    3.0
5.5    2.3
5.6    2.5
5.7    2.5
5.8    2.6
5.9    3.0
6.0    2.2
6.1    2.6
6.2    2.2
6.3    2.3
6.4    2.7
6.5    2.8
6.6    2.9
6.7    2.5
6.8    2.8
6.9    3.1
7.0    3.2
7.1    3.0
7.2    3.0
7.3    2.9
7.4    2.8
7.6    3.0
7.7    2.6
7.9    3.8
Name: SepalWidthCm, dtype: float64

In [27]:
Iris.groupby('SepalLengthCm').apply(lambda df: df.SepalWidthCm.iloc[0])

SepalLengthCm
4.3    3.0
4.4    2.9
4.5    2.3
4.6    3.1
4.7    3.2
4.8    3.4
4.9    3.0
5.0    3.6
5.1    3.5
5.2    3.5
5.3    3.7
5.4    3.9
5.5    4.2
5.6    2.9
5.7    4.4
5.8    4.0
5.9    3.0
6.0    2.2
6.1    2.9
6.2    2.2
6.3    3.3
6.4    3.2
6.5    2.8
6.6    2.9
6.7    3.1
6.8    2.8
6.9    3.1
7.0    3.2
7.1    3.0
7.2    3.6
7.3    2.9
7.4    2.8
7.6    3.0
7.7    3.8
7.9    3.8
dtype: float64

* ```agg()``` - permite utilizar várias funções de agregação ao mesmo tempo.

In [28]:
Iris.groupby(['SepalWidthCm']).SepalWidthCm.agg([len, min, max])

              len  min  max
SepalWidthCm
2.0             1  2.0  2.0
2.2             3  2.2  2.2
2.3             4  2.3  2.3
2.4             3  2.4  2.4
2.5             8  2.5  2.5
2.6             5  2.6  2.6
2.7             9  2.7  2.7
2.8            14  2.8  2.8
2.9            10  2.9  2.9
3.0            26  3.0  3.0
3.1            12  3.1  3.1
3.2            13  3.2  3.2
3.3             6  3.3  3.3
3.4            12  3.4  3.4
3.5             6  3.5  3.5
3.6             3  3.6  3.6
3.7             3  3.7  3.7
3.8             6  3.8  3.8
3.9             2  3.9  3.9
4.0             1  4.0  4.0
4.1             1  4.1  4.1
4.2             1  4.2  4.2
4.4             1  4.4  4.4

### **Multi-indexes**

In [29]:
Iris_reviewed = Iris.groupby(['SepalWidthCm', 'SepalLengthCm']).SepalWidthCm.agg([len])
Iris_reviewed

                            len
SepalWidthCm SepalLengthCm
2.0          5.0              1
2.2          6.0              2
             6.2              1
2.3          4.5              1
             5.0              1
...                         ...
3.9          5.4              2
4.0          5.8              1
4.1          5.2              1
4.2          5.5              1
4.4          5.7              1

[116 rows x 1 columns]

* ```reset_index()``` - retorna o DataFrame ao estado original.

### **Sorting**

In [30]:
Iris_reviewed = Iris.sort_values(by='SepalLengthCm')
Iris_reviewed

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
14             4.3           3.0              3           0.1     Iris-setosa
43             4.4           3.2              3           0.2     Iris-setosa
39             4.4           3.0              3           0.2     Iris-setosa
9              4.4           2.9              3           0.2     Iris-setosa
42             4.5           2.3              3           0.3     Iris-setosa
..             ...           ...            ...           ...             ...
123            7.7           2.8              3           2.0  Iris-virginica
119            7.7           2.6              3           2.3  Iris-virginica
118            7.7           3.8              3           2.2  Iris-virginica
136            7.7           3.0              3           2.3  Iris-virginica
132            7.9           3.8              3           2.0  Iris-virginica

[150 rows x 5 columns]

In [31]:
Iris_reviewed = Iris.sort_values(by='SepalLengthCm', ascending=False)
Iris_reviewed

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
132            7.9           3.8              3           2.0  Iris-virginica
136            7.7           3.0              3           2.3  Iris-virginica
123            7.7           2.8              3           2.0  Iris-virginica
118            7.7           3.8              3           2.2  Iris-virginica
119            7.7           2.6              3           2.3  Iris-virginica
..             ...           ...            ...           ...             ...
42             4.5           2.3              3           0.3     Iris-setosa
43             4.4           3.2              3           0.2     Iris-setosa
39             4.4           3.0              3           0.2     Iris-setosa
9              4.4           2.9              3           0.2     Iris-setosa
14             4.3           3.0              3           0.1     Iris-setosa

[150 rows x 5 columns]

In [32]:
Iris.sort_index()
Iris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5              3           0.2     Iris-setosa
2              4.9           3.0              3           0.2     Iris-setosa
3              4.7           3.2              3           0.2     Iris-setosa
4              4.6           3.1              3           0.2     Iris-setosa
5              5.0           3.6              3           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0              3           2.3  Iris-virginica
147            6.3           2.5              3           1.9  Iris-virginica
148            6.5           3.0              3           2.0  Iris-virginica
149            6.2           3.4              3           2.3  Iris-virginica
150            5.9           3.0              3           1.8  Iris-virginica

[150 rows x 5 columns]

## **Data Types and Missing Values**

### **Dtypes**

In [33]:
Iris.SepalLengthCm.dtype

dtype('float64')

Converting data types

In [36]:
Iris.SepalLengthCm.astype('float32')

Id
1      5.1
2      4.9
3      4.7
4      4.6
5      5.0
      ...
146    6.7
147    6.3
148    6.5
149    6.2
150    5.9
Name: SepalLengthCm, Length: 150, dtype: float32

Index type

In [37]:
Iris.index.dtype

dtype('int64')

### **Missing Values**

In [38]:
Iris[pd.isnull(Iris.SepalLengthCm)]

Empty DataFrame
Columns: [SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [39]:
Iris.SepalLengthCm.fillna('unknown')

Id
1      5.1
2      4.9
3      4.7
4      4.6
5      5.0
      ...
146    6.7
147    6.3
148    6.5
149    6.2
150    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

## **Renaming and Combining**

### **Renaming**

In [40]:
Iris.rename(columns={'SepalLengthCm': 'SL', 'SepalWidthCm': 'SW'})

      SL   SW  PetalLengthCm  PetalWidthCm         Species
Id
1    5.1  3.5              3           0.2     Iris-setosa
2    4.9  3.0              3           0.2     Iris-setosa
3    4.7  3.2              3           0.2     Iris-setosa
4    4.6  3.1              3           0.2     Iris-setosa
5    5.0  3.6              3           0.2     Iris-setosa
..   ...  ...            ...           ...             ...
146  6.7  3.0              3           2.3  Iris-virginica
147  6.3  2.5              3           1.9  Iris-virginica
148  6.5  3.0              3           2.0  Iris-virginica
149  6.2  3.4              3           2.3  Iris-virginica
150  5.9  3.0              3           1.8  Iris-virginica

[150 rows x 5 columns]

In [41]:
Iris.rename(index={0: 'firstEntry', 1: 'secondEntry'})

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
Id,,,,,
secondEntry,5.1,3.5,3,0.2,Iris-setosa
2,4.9,3.0,3,0.2,Iris-setosa
3,4.7,3.2,3,0.2,Iris-setosa
4,4.6,3.1,3,0.2,Iris-setosa
5,5.0,3.6,3,0.2,Iris-setosa
...,...,...,...,...,...
146,6.7,3.0,3,2.3,Iris-virginica
147,6.3,2.5,3,1.9,Iris-virginica
148,6.5,3.0,3,2.0,Iris-virginica
149,6.2,3.4,3,2.3,Iris-virginica
150,5.9,3.0,3,1.8,Iris-virginica

In [43]:
Iris.rename_axis("flowers", axis='rows').rename_axis("features", axis='columns')

features,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
flowers,,,,,
1,5.1,3.5,3,0.2,Iris-setosa
2,4.9,3.0,3,0.2,Iris-setosa
3,4.7,3.2,3,0.2,Iris-setosa
4,4.6,3.1,3,0.2,Iris-setosa
5,5.0,3.6,3,0.2,Iris-setosa
...,...,...,...,...,...
146,6.7,3.0,3,2.3,Iris-virginica
147,6.3,2.5,3,1.9,Iris-virginica
148,6.5,3.0,3,2.0,Iris-virginica
149,6.2,3.4,3,2.3,Iris-virginica
150,5.9,3.0,3,1.8,Iris-virginica

### **Combining**

```pd.concat([DataFrame1, DataFrame2])```

```DataFrame1.join(DataFrame2)``` index in common